            containerBuilder.RegisterType<@#$ClassLibraryName@#$.Proxies.@#$ProxyName@#$Proxy>()
                .AsSelf()
                .AsImplementedInterfaces()
                .SingleInstance();