                    proxies.Add(new ProxyConfiguration(ProxyMonikers.@#$ProxyName@#$Moniker, ProxyConfiguration.ProxyTypeEnum.RemoteService, @#$ClassLibraryName@#$.Proxies.@#$ProxyName@#$Proxy.GetServiceConfiguration()));