                    proxies.Add(new ProxyConfiguration(ProxyMonikers.@#$ProxyName@#$Moniker, ProxyConfiguration.ProxyTypeEnum.RemoteService, @#$ProxyCoreLibTopLevelNamespace@#$.DefaultServiceConfiguration.Get()));