using StatePipes.StateMachine;
using StatePipes.Interfaces;
using StatePipes.Comms;
using @#$ClassLibraryName@#$.Events;
using @#$ClassLibraryName@#$.StateMachines.@#$StateMachineName@#$.Triggers;
//@#$InternalTriggers@#$ using @#$ClassLibraryName@#$.StateMachines.@#$StateMachineName@#$.Triggers.Internal;

namespace @#$ClassLibraryName@#$.StateMachines.@#$StateMachineName@#$.States
{
    internal class ParentState : BaseStateMachineState<@#$StateMachineName@#$>, IFirstStateForStateMachine
    {
        public override void OnEntry(){}
        public override void OnExit(){}
        public override void OnActivate(){}
        public override void OnDeActivate(){}
        [PermitReentryIf()]
        private bool DummyTriggerGuard(DummyTrigger trigger, BusConfig? responseInfo)
        {
            PublishEvent(new DummyEvent(trigger.Good));
            return false;
        }
        [PermitReentryIf()]
        private bool SendCurrentStatusCommandGuard(SendCurrentStatusCommand trigger, BusConfig? responseInfo)
        {
            var currentStatusEvent = new CurrentStatusEvent("Operational!!!");
            if (responseInfo is not null) SendResponse(currentStatusEvent, responseInfo);
            else PublishEvent(currentStatusEvent);
            return false;
        }
        // Injection Point 5, Do Not Delete or Modify
    }
}
