using StatePipes.Interfaces;
using StatePipes.StateMachine;
namespace @#$ClassLibraryName@#$.StateMachines.@#$StateMachineName@#$.Triggers
{
    public class SendCurrentStatusCommand : BaseTriggerCommand<@#$StateMachineName@#$>, IGetCurrentStatusCommand
    {
    }
}