<Project>
  <PropertyGroup>
    <Authors>@#$CompanyName@#$</Authors> 
    <Company>@#$CompanyName@#$</Company> 
    <Copyright>© @#$Year@#$ @#$CompanyName@#$. All rights reserved.</Copyright> 

    <Product>@#$ProductName@#$</Product> 
    <ProductName>@#$ProductName@#$</ProductName>

    <VersionPrefix>0.0.0</VersionPrefix>
    <VersionSuffix>alpha000</VersionSuffix>
    <SourceRevisionId></SourceRevisionId>

    <RepositoryType></RepositoryType> 
    <PackageLicenseUrl></PackageLicenseUrl> 
    <PackageProjectUrl></PackageProjectUrl> 
    <PackageIconUrl></PackageIconUrl> 
    <RepositoryUrl></RepositoryUrl> 
    <PackageTags></PackageTags> 
    <PackageReleaseNotes></PackageReleaseNotes> 
  </PropertyGroup> 
</Project>