  <Project Path="@#$ClassLibraryName@#$.Service\@#$ClassLibraryName@#$.Service.csproj" />
  <Project Path="@#$ClassLibraryName@#$\@#$ClassLibraryName@#$.csproj" />
  <Project Path="@#$ClassLibraryName@#$.Test\@#$ClassLibraryName@#$.Test.csproj" />

