 
function StartServiceNoChromeTab([string]$ServiceName,[string] $postfix, [bool] $postFixRecursiveAddToProxies)
{
    $newServiceName = $ServiceName + $postfix
    $programData = $env:ProgramData
    $destDir = $programData+"\AAA\"+$newServiceName+".Service\Certs\"
    Remove-Item -Path $destDir -Recurse -Force
    New-Item -ItemType Directory -Path $destDir
    $cp = "Copy-Item -Path "+$programData+"\SmallStep\step-ca\amqpuser.amqp09-broker.client.p12 -Destination "+$destDir
    Invoke-Expression $cp
    $cp = "Copy-Item -Path "+$programData+"\SmallStep\step-ca\CommonPassword.txt -Destination "+$destDir
    Invoke-Expression $cp

    $fullPath = $PSScriptRoot+"\..\"+$ServiceName+".Service\bin\Debug\net10.0\"+$ServiceName+".Service.exe"
    $wd = [System.IO.Path]::GetDirectoryName($fullPath)
    $argses = "--usedefaultconfig=true"
    if (-not [System.String]::IsNullOrEmpty($postfix)) 
    {
        $argses = $argses + " --postfix=" + $postfix
    }
    if($postFixRecursiveAddToProxies) 
    {
        $argses = $argses + " --postfixrecursiveaddtoproxies=true"
    }
    Start-Process $fullPath -WorkingDirectory $wd -ArgumentList $argses
}

function StartChromeTab([string]$ServiceName,[string] $postfix)
{
    $newServiceName = $ServiceName + $postfix
    $url = 'https://statepipes.explorer:7219/Params/amqps:%2F%2Famqp09-broker%2FProduction/'+$newServiceName+'/amqpuser.amqp09-broker.client.p12/CommonPassword.txt/'+$newServiceName
    Start-Process chrome.exe $url
}

function StartService([string]$ServiceName,[string] $postfix, [bool] $postFixRecursiveAddToProxies)
{
    StartServiceNoChromeTab $ServiceName $postfix $postFixRecursiveAddToProxies
    StartChromeTab  $ServiceName $postfix
}

cls
Start-Process chrome.exe '--new-window'
Start-Sleep -s 1

# Injection Point 1, Do Not Delete or Modify