using StatePipes.StateMachine;
using StatePipes.Interfaces;
using StatePipes.Comms;
using @#$ClassLibraryName@#$.Events;
using @#$ClassLibraryName@#$.StateMachines.@#$StateMachineName@#$.Triggers;

namespace @#$ClassLibraryName@#$.StateMachines.@#$StateMachineName@#$.States
{
    internal class TopLevelState : BaseStateMachineState<@#$StateMachineName@#$>, IFirstStateForStateMachine
    {
        public override void OnEntry(){}
        public override void OnExit(){}
        public override void OnActivate(){}
        public override void OnDeActivate(){}
        [PermitReentryIf()]
        private bool DummyTriggerGuard(DummyTrigger trigger, BusConfig? responseInfo)
        {
            PublishEvent(new DummyEvent(trigger.Good));
            return false;
        }
    }
}
