using StatePipes.StateMachine;
namespace @#$ClassLibraryName@#$.StateMachines.@#$StateMachineName@#$.Triggers
{
    public class @#$TriggerName@#$ : BaseTriggerCommand<@#$StateMachineName@#$>
    {
    }
}
