using StatePipes.StateMachine;
using StatePipes.Interfaces;
using StatePipes.Comms;
using @#$ClassLibraryName@#$.Events;

namespace @#$ClassLibraryName@#$.StateMachines.@#$StateMachineName@#$.States
{
    internal class @#$StateName@#$ : BaseStateMachineState<@#$StateMachineName@#$>
    {
        public override void OnEntry(){}
        public override void OnExit(){}
        public override void OnActivate(){}
        public override void OnDeActivate(){}
    }
}
