@using System.Reflection
@using System.Text
@using Newtonsoft.Json
@using StatePipes
@using StatePipes.Explorer.NonWebClasses
@using StatePipes.ProcessLevelServices
@inherits ObjectEditorBaseClass
<div style="border:groove">
    <div style="display:flex;flex-direction:row">
        <div style="flex:1;background-color:lightblue;color:black">
            @if (string.IsNullOrEmpty(EditorObject?.Name))
            {
                @if (IsReadOnly)
                {
                    <b>Event:</b>
                }
                else
                {
                    <b>Command:</b>
                }
            }
            else
            {
                <b>@EditorObject?.Name</b>
            }
        </div>
    </div>
    @if (PrimitiveProperties != null)
    {
        foreach (var prim in PrimitiveProperties)
        {
            <CascadingValue Value="@this" Name="ParentComponent">
                <PropertyEntityViewer EditorObject=@prim.Value IsReadOnly=@IsReadOnly></PropertyEntityViewer>
            </CascadingValue>
        }
    }
</div>
