@using System.Text
@inherits ObjectEditorBaseClass

@if (!string.IsNullOrEmpty(EditorObject?.Name))
{
    <div style="display:flex;flex-direction:row;background-color:lightgrey;color:black;padding-left:10px;padding-top:2px">
        <label style="display:flex;align-items:center">@EditorObject?.Name [@_typeName]:</label>
        <input type="number" style="flex:1;text-align:left;margin-left:10px" value=@this._objectVal @oninput=OnValueChanged ReadOnly=@IsReadOnly />
    </div>
}
